{% extends "base.html" %}
{% set active_page = "search" %}
{% block title %}RICE Coffee Agenda - Search{% endblock %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
        <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

    {{ super() }}

	{% if userid %}
	    <script>
		     $(document).ready(function() {
			if($('#personalstats').length){
				$('#orderlog').DataTable( {
					"ajax": "/data/coffee/user/{{userid}}",
					"columns" : [
						{ "data" : "date" },
						{ "data" : "price",
						  "className": "dt-center",
						  "render": function(data,type,row,meta) {
							return data + " Kč";
							 }
							}
						],
					 "searching": false,
					 "info": false,
					 "ordering": false,
					 "pageLength": 20,
					 "dom" : "tip",
					 "language": {
				 "url": "{{ url_for('static', filename='misc/dataTables.czech.lang') }}"
					},
				} );

				$('#paylog').DataTable( {
					"ajax": "/data/deposit/user/{{userid}}",
					"columns" : [
						{ "data" : "date" },
						{ "data" : "admin" },
						{ "data" : "amount",
						  "className": "dt-center",
						  "render": function(data,type,row,meta) {
							return data + " Kč";
							 }
							}
						],
					 "searching": false,
					 "info": false,
					 "ordering": false,
					 "dom" : "tip",
					 "language": {
				 "url": "{{ url_for('static', filename='misc/dataTables.czech.lang') }}"
					},
					
				} );
			  }
                } );
	    </script>
	{% endif %}

{% endblock %}

{% block main %}
	 <div class="panel panel-{{paneltheme}}">
		<div class="panel-heading">Hledat uživatele</div>
		<div class="panel-body">
			<!--<h2 class="page-header">Zobrazit uzivatele</h2>-->
			{% if form.errors %}
				<div>
				{% for field, error in form.errors.items() %}
					{% for e in error %}
						<p class="alert alert-danger">{{ e }}</p>
					{% endfor %}
				{% endfor %}
				</div>
			{% endif %}

			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if category == "error" %}
							<p class="alert alert-danger">{{ message }}</p>
						{% else %}
							<p class="alert alert-success">{{ message }}</p> 
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}

			<form class="form-inline" method="POST" action="/view/search/" accept-charset="UTF-8" role="form">
				<div class="form-group">
					{{ form.name(class="form-control", autofocus="") }}
				</div>
				{{ form.csrf_token }}
				<button type="submit" class="btn btn-primary">Zobrazit</button>
			</form>	
		</div>
	</div>
        
	{% if dusersum %} 
		<div id="personalstats" class="panel panel-default">
			<div class="panel-heading">Osobní karta</div>
			<div class="panel-body">
				<div class="col-md-8">
				<table class="table table-bordered">
				  <tr>
					<th>Jméno</th>
					<td>{{dusersum.name}}</td>
				  </tr>
				  <tr>
					<th>Počet káv celkem (pořadí)</th>
					<td>{{dusersum.coffee_count}}</td>
				  </tr>
				  <tr>
					<th>Počet káv tento měsíc</th>
					<td>{{dusersum.sum_month}}</td>
				  </tr>
				  <tr>
					<th>Počet káv dnes</th>
					<td>{{dusersum.sum_today}}</td>
				  </tr>
				  <tr>
					<th>První káva</th>
					<td>{{dusersum.coffee_first|dateformat}}</td>
				  </tr>
				  <tr>
					<th>Poslední káva</th>
					<td>{{dusersum.coffee_last|dateformat}}</td>
				  </tr>
				  <tr>
					<th>Celková cena kávy</th>
					<td>{{dusersum.price_sum}} Kč</td>
				  </tr>
				  <tr>
					<th>Stav kávového účtu</th>
					<td>{{dusersum.balance}} Kč</td>
				  </tr>
			   </table>
			   </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
				<div class="panel-heading">Záznamy o uvařené kávě za poslední měsíc</div>
				<div class="panel-body">

					<!--<h3 class="sub-header">Denicek za posledni mesic</h3>-->

						<div class="table-overall">
							<table id="orderlog" class="display" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Datum</th>
										<th>Cena za kávu</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
				<div class="panel-heading">Přehled vkladů uživatele</div>
					<div class="panel-body">
				<!--<h2 class="sub-header">Prehled plateb</h2>-->

						<div class="table-overall">
							<table id="paylog" class="display" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Datum</th>
										<th>Vložil</th>
										<th>Částka</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}
